@import "~bootstrap/scss/bootstrap";

//Variables
$base-unit: 12px;

.c-primary {
  color: #FF8C00;
}

//Section1
#welcomeSrc {
  position: absolute;
  top: $base-unit*6;
  right: $base-unit*6;
  max-width: $base-unit*12;
  transform: rotate(20deg) scale(1.2);
  transition-duration: 0.5s;
}

//Section2
#section2 {
  background: #83a4d4;  /* fallback for old browsers */

}
#manSrc {
  position:absolute;
  bottom: 0;
  left: $base-unit*2;
  max-height: $base-unit*12;
}
//Section3
#section3 {
  background: #C9FFBF;  /* fallback for old browsers */
}
#planetSrc {
  max-width: $base-unit*12;
  position:absolute;
  top: $base-unit*2;
  left: $base-unit*2;
}

//keyframe

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
  animation-fill-mode: forwards;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@import './CircleIcons.scss'